# Задание 1 #

In [126]:
import pandas as pd
import numpy as np
from sklearn.datasets import load_boston

In [127]:
boston = load_boston()

In [128]:
boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [129]:
data = boston["data"]
feature_names = boston["feature_names"]

In [130]:
X = pd.DataFrame(data, columns=feature_names)
X.head(10)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
5,0.02985,0.0,2.18,0.0,0.458,6.430,58.7,6.0622,3.0,222.0,18.7,394.12,5.21
6,0.08829,12.5,7.87,0.0,0.524,6.012,66.6,5.5605,5.0,311.0,15.2,395.60,12.43
7,0.14455,12.5,7.87,0.0,0.524,6.172,96.1,5.9505,5.0,311.0,15.2,396.90,19.15
8,0.21124,12.5,7.87,0.0,0.524,5.631,100.0,6.0821,5.0,311.0,15.2,386.63,29.93
9,0.17004,12.5,7.87,0.0,0.524,6.004,85.9,6.5921,5.0,311.0,15.2,386.71,17.10

In [131]:
target = boston["target"]

In [132]:
Y = pd.DataFrame(target, columns=["price"])
Y.head(10)

   price
0   24.0
1   21.6
2   34.7
3   33.4
4   36.2
5   28.7
6   22.9
7   27.1
8   16.5
9   18.9

In [133]:
from sklearn.model_selection import train_test_split

In [134]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.30, random_state=42)

In [135]:
from sklearn.linear_model import LinearRegression

In [136]:
lr = LinearRegression()

In [137]:
lr.fit(X_train, Y_train)

LinearRegression()

In [138]:
y_pred = lr.predict(X_test)
check_test = pd.DataFrame({
    "Y_test": Y_test["price"], 
    "Y_pred": y_pred.flatten()})

In [139]:
check_test.head(10)

     Y_test     Y_pred
173    23.6  28.648960
274    32.4  36.495014
491    13.6  15.411193
72     22.8  25.403213
452    16.1  18.855280
76     20.0  23.146689
316    17.8  17.392124
140    14.0  14.078599
471    19.6  23.036927
500    16.8  20.599433

In [140]:
from sklearn.metrics import mean_squared_error

In [141]:
mean_squared_error = mean_squared_error(check_test["Y_pred"], check_test["Y_test"])
print(mean_squared_error)

21.517444231176995

In [142]:
from sklearn.metrics import r2_score

In [143]:
r2_score = r2_score(check_test["Y_pred"], check_test["Y_test"])

In [144]:
print(r2_score)

0.669370269149561

# 2 Задание #

In [145]:
from sklearn.ensemble import RandomForestRegressor

In [146]:
clf = RandomForestRegressor(n_estimators=1000, max_depth=12, random_state=42)

In [147]:
clf.fit(X_train, Y_train.values[:, 0])

RandomForestRegressor(max_depth=12, n_estimators=1000, random_state=42)

In [148]:
y_pred = clf.predict(X_test)
check_test = pd.DataFrame({
    "Y_test": Y_test["price"], 
    "Y_pred": y_pred.flatten()})

check_test.head(10)

     Y_test     Y_pred
173    23.6  22.806412
274    32.4  31.131464
491    13.6  16.339125
72     22.8  23.810726
452    16.1  17.139521
76     20.0  21.832284
316    17.8  19.895747
140    14.0  14.754118
471    19.6  21.240835
500    16.8  20.898658

In [149]:
from sklearn.metrics import mean_squared_error

In [150]:
mean_squared_error_1 = mean_squared_error(check_test["Y_pred"], check_test["Y_test"])
print(mean_squared_error_1)

9.334548946165196

In [151]:
from sklearn.metrics import r2_score

In [152]:
r2_score_1 = r2_score(check_test["Y_pred"], check_test["Y_test"])

In [153]:
print(r2_score_1)

0.8479049999699443

"Случайный лес" показывает результаты точнее, чем "линейная регрессия" примерно в 3 раза.